
# Travis CI Java documentation can be found in:
# https://docs.travis-ci.com/user/languages/java/

# Ubuntu 18.04
dist: xenial

language: java

jdk:
  - openjdk8
  - openjdk11

after_success:
  - mvn compile
  - mvn exec:java -Dexec.mainClass="api.UpdateSheet" -Dexec.args="Malvin Sugiri TRAVIS_TEST_RESULT"