
# Travis CI Java documentation can be found in:
# https://docs.travis-ci.com/user/languages/java/

# Ubuntu 18.04
dist: xenial

language: java

jdk:
  - openjdk8
  - openjdk11

after_success:
  - cd main/java/api
  - javac UpdateSheet.java
  - java UpdateSheet